@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');

:root {
  --background: rgb(222, 222, 222);
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background: var(--background);
  color: black;
}

.menuLabel {
  all: unset;
  font-variant: small-caps;
  font-size: 0.7rem;
  letter-spacing: 0.21rem;
  text-align: center;
  margin-inline: 1.2rem;
  padding-inline: 0;
  gap: 0;
  padding-bottom: 0.27rem;
  border-bottom: 0.7px solid transparent;
  transition: border-bottom 0.5s ease-in-out, transform 0.5s, color 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
}

.menuLabel::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 98%;
  height: .7px;
  background-color: black;
  transform: translateX(-100%);
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.selectedSectionButton::before {
  transform: translateX(0);
}

.menuLabel span {
  transition: color 0.5s ease-in-out;
}

.menuLabel:hover span {
  color: green;
}


.sideBanner {
  border-left: 0.5px solid;
  background: var(--background);
  width: 12rem;
  display: flex;
  justify-content: left;
}


.accordion-item,
.accordion-button,
.accordion-collapse,
.accordion-body {
  background-color: var(--background) !important;
  border: none;
  color: black !important;
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
}

hr {
  color: black !important;
  height: 0.35px !important;
}

.settingsLabel {
  font-variant: small-caps;
  font-size: 0.7rem;
  letter-spacing: 0.23rem;
}

.settingsLabel::after {
  font-size: 3rem;
}

.accordion-button::after {
  transform: scale(0.5);
}
.accordion-button.collapsed::after {
  transform: scale(0.5);
}





  


