@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');

:root {
  --background: rgb(222, 222, 222);
}

* {

  background: var(--background);

}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.menuLabel {
  all: unset;
  font-variant: small-caps;
  font-size: 0.7rem;
  letter-spacing: 0.21rem;
  text-align: center;
  margin-inline: 1.2rem;
  padding-inline: 0;
  gap: 0;
  padding-bottom: 0.27rem;
  border-bottom: 0.7px solid transparent;
  transition: border-bottom 0.5s ease-in-out, transform 0.5s, color 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
}

.menuLabel::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 98%;
  height: .7px;
  background-color: black;
  transform: translateX(-100%);
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.selectedSectionButton::before {
  transform: translateX(0);
}

.menuLabel span {
  transition: color 0.5s ease-in-out;
}

.menuLabel:hover span {
  color: green;
}




.sideBanner {
  border-left: 0.5px solid;
  background: var(--background);
  width: 12rem;
  display: flex;
  justify-content: left;
}


.accordion-item,
.accordion-button,
.accordion-collapse,
.accordion-body {
  background-color: var(--background) !important;
  border: none;
  color: black !important;
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
}

hr {
  color: black !important;
  height: 0.35px !important;
}

.settingsLabel {
  font-variant: small-caps;
  font-size: 0.875rem;
  letter-spacing: 0.23rem;
}

.settingsLabel::after {
  font-size: 3rem;
}

.accordion-button::after {
  transform: scale(0.5);
}
.accordion-button.collapsed::after {
  transform: scale(0.5);
}

.searchRibbon {

  border-top: .7px solid;
  border-bottom: .7px solid;
}

.pullDownLabel {
  font-size: 0.7rem;
  letter-spacing: 0.12rem;
}

.italic {
  font-style: italic;
}

input[type="search"] {
  border: none;
  outline: none;
  background: transparent;
  position: relative;
}

input[type="search"]::placeholder {
  color: #000;
}

input[type="search"]::-webkit-input-placeholder {
  color: #000;
}

input[type="search"]::-moz-placeholder {
  color: #000;
}

input[type="search"]:-ms-input-placeholder {
  color: #000;
}

input[type="search"]::-ms-input-placeholder {
  color: #000;
}

input[type="search"]::placeholder {
  color: #000;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="search"]::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.7px;
  background-color: #000;
}

input::placeholder {
  /* CSS styles for the placeholder text */
  color: rgb(156, 156, 156);
  font-size: .875rem;
  font-style: italic;
}

.firstBavBar {
  height: 5rem !important;
}


.secondNavBar {
  margin-top: 5rem !important;
  height: 3rem !important;
  border-top: .7px solid;
  border-bottom: .7px solid;
}



.main {
  margin-top: 8rem !important;
}


.ribbon {
  position: relative !important;
}

 .ribbonElement1 {
  position: absolute !important;
  left: 15% !important;
}

.ribbonElement2 {
  position: absolute !important;
  left: 40% !important;
}

.ribbonElement3 {
  position: absolute !important;
  left: 60% !important;
}



  


